body,html {
	width: 100%;
	height: 100%;
	font-size: 62.5%
}

a,abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	position: relative
}

button,input,select,textarea {
	outline: 0;
	box-sizing: border-box
}

em,h1,h2,h3,h4,h5,h6,i {
	font-weight: 100;
	font-style: normal
}

li,ol,ul {
	list-style-type: none
}

a {
	text-decoration: none
}

button:active {
	transform: translateY(2px)
}

a {
	text-decoration: none;
	color: #bbb
}

a:link {
	opacity: 1;
	transition: all .15s linear
}

a:active,a:hover,a:link {
	color: #1f1f1f
}

body {
	background-color: #f7f7f7;
	font-family: 苹方黑体-细-简,source-han-sans-simplified-c,PingFang SC,Hiragino Sans GB,PingHei,Open Sans,sans-serif;
	font-size: 1pc
}

main {
	background: #fff;
	margin: 60px auto 0;
	box-shadow: 0 10px 20px 0 hsla(0,0%,93%,.86)
}

header {
	padding: 75pt 95px 0 90px
}

header .head_conter {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between
}

header .head_conter .logo {
	width: 60px;
	height: 60px
}

header .head_conter .menu {
	text-align: right
}

header .head_conter .menu .description {
	font-size: 14px;
	color: #424242;
	float: right;
	margin-bottom: 10px
}

header .head_conter .menu .icon a {
	color: #5f5f5f;
	font-size: 9pt;
	float: none;
	cursor: pointer
}

header .head_conter .menu .icon a:hover {
	color: #000
}

header .head_conter .menu .icon i {
	margin-left: 10px
}

section {
	padding: 75pt 90px
}

section article {
	border-bottom: 1px solid #f3f3f3;
	padding: 20px 0 40px
}

section article h1 {
	text-transform: uppercase;
	line-height: 1;
	font-weight: 600;
	color: #1f1f1f;
	margin: 0 0 9pt;
	line-height: 28px
}

section article h1 a {
	color: #1f1f1f;
	text-decoration: none;
	font-size: 2.2rem;
	letter-spacing: 3px
}

section article p {
	line-height: 1.9em;
	letter-spacing: 1px;
	margin-bottom: 15px;
	word-break: break-all
}

section article i {
	margin-right: 7px
}

section article span a {
	font-size: 11px;
	margin-right: 10px
}

section article span a>i {
	color: #bbb
}

/*.page {*/
/*	font-size: .9em;*/
/*	display: flex;*/
/*	display: -webkit-flex;*/
/*	justify-content: space-between;*/
/*	margin-top: 20px*/
/*}*/

.page{
    font-size:.9em;
    /*display:flex;*/
    /*display:-webkit-flex;*/
    /*justify-content:space-between;*/
    margin-top:20px
    padding-right: 10px;
    
}

content {
	padding: 75pt 90px;
	display: block
}

content article {
	border-bottom: 1px solid #f3f3f3;
	padding: 20px 0 40px
}

content article h1 {
	text-transform: uppercase;
	line-height: 1;
	font-weight: 600;
	color: #1f1f1f;
	margin: 0 0 9pt;
	line-height: 28px;
	letter-spacing: 3px
}

content article time {
	font-size: 11px;
	color: #bbb;
	display: block;
	margin-bottom: 20px
}

content article section {
	line-height: 1.9em;
	letter-spacing: 1px;
	margin-bottom: 15px;
	word-break: break-all;
	padding: 0
}

content article section p {
	margin-bottom: 10px;
	margin-top: 30px
}

content article section>img {
	width: 100%;
	max-width: 820px;
	margin: 30px 0
}

content article section p>img {
    max-width: 820px;
    width: 100%;
}



.share {
	margin: 30px 0 0;
	display: inline-flex
}

.evernote {
	width: 2pc;
	height: 2pc;
	border-radius: 300px;
	background-color: #3e3e3e;
	margin-right: 5px
}

.evernote a {
	color: #fff;
	padding: 11px;
	font-size: 9pt;
	cursor: pointer
}

.evernote a:hover {
	color: #ed6243;
	padding: 11px
}

.weibo {
	width: 2pc;
	height: 2pc;
	border-radius: 300px;
	background-color: #ed6243;
	margin-right: 5px
}

.weibo a {
	color: #fff;
	padding: 9px;
	cursor: pointer
}

.weibo a:hover {
	color: #bd4226
}

.twitter {
	width: 2pc;
	height: 2pc;
	border-radius: 300px;
	background-color: #59c0fd;
	margin-right: 5px
}

.twitter a {
	color: #fff;
	padding: 9px;
	cursor: pointer
}

.twitter a:hover {
	color: #4b9ece
}

.footer {
	clear: both;
	max-width: 780px;
	text-align: center;
	font-size: 9pt;
	padding: 30px 0;
	margin: 0 auto
}

.footer a {
	color: #a6a6a6;
	width: 100%
}

.footer a:hover {
	color: #1f1f1f
}

.footer .copyright {
	margin: 0;
	padding-top: 10px;
	font-size: 11px
}

.footer .end {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000;
	font-size: 1pc;
	letter-spacing: 1px;
	width: 147px;
	margin: 0 auto
}

@media screen and (min-width:1000px) {
	main {
		width: 750pt
	}

	.footer .end {
		width: 10pc
	}
}

@media screen and (max-width:900px) {
	main {
		margin: 0 0 9pt
	}

	section {
		padding: 75pt 50px
	}

	header {
		padding: 75pt 45px 0 3pc
	}

	.footer .end {
		width: 10pc
	}

	content {
		padding: 75pt 45px
	}

	content article section p {
		margin-top: 0
	}
}

::selection {
	color: #fff;
	background: #000
}

::-moz-selection {
	color: #fff;
	background: #000
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-3px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0)
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-3px)
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0)
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-3px)
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0)
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-3px)
	}

	100% {
		opacity: 1;
		transform: translateY(0)
	}
}