body,html{width:100%;height:100%;font-size:62.5%}
a,abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;box-sizing:border-box;position:relative}
button,input,select,textarea{outline:0;box-sizing:border-box}
em,h1,h2,h3,h4,h5,h6,i{font-weight:100;font-style:normal}
li,ol,ul{list-style-type:none}
a{text-decoration:none}
button:active{transform:translateY(2px)}
a{text-decoration:none;color:#bbb}
a:link{opacity:1;transition:all .15s linear}
a:hover,a:link,a:visited{color:#1f1f1f}
body{background-color:#f7f7f7;font-family:苹方黑体-细-简,source-han-sans-simplified-c,PingFang SC,Hiragino Sans GB,PingHei,Open Sans,sans-serif;font-size:1pc}
main{background:#fff;margin:60px auto 0;box-shadow:0 10px 20px 0 hsla(0,0%,93%,.86)}
header{padding:75pt 95px 0 90px}
header .head_conter{display:flex;display:-webkit-flex;justify-content:space-between}
header .head_conter .logo{width:80px;height:80px}
header .head_conter .menu{text-align:right}
header .head_conter .menu .description{font-size:14px;color:#424242;float:right;margin-bottom:10px}
header .head_conter .menu .icon a{color:#5f5f5f;font-size:9pt;float:none;cursor:pointer}
header .head_conter .menu .icon a:hover{color:#000}
header .head_conter .menu .icon i{margin-left:10px}
header .head_conter .menu .icon a:nth-child(3){margin-right:10px}
header > img{
    position: absolute;
    top: 220px;
    right: 95px;
    border-radius: 5px;
}


section{padding:75pt 90px;}
section article{border-bottom:1px solid #f3f3f3;padding:20px 0 40px}
section article h1{text-transform:uppercase;line-height:1;font-weight:600;color:#1f1f1f;margin:0 0 9pt;line-height:28px}
section article h1 a{color:#1f1f1f;text-decoration:none;font-size:2.0rem;letter-spacing:3px}
section article p{line-height:1.2em;letter-spacing:1px;margin-bottom:15px;word-break:break-all}
section article i{margin-right:7px}
section article span a{font-size:11px;margin-right:10px}
section article span a>i{color:#bbb}
section article >img:not(.qiye>img){width:100%;margin:30px 0;border-radius: 4px;}
.qiye>img{
    width:100%;
    margin: 0 0 -4px 0;
    padding: 0;
}
section article ul{display: flex;flex-wrap: wrap;}
section article ul li{flex-direction:column;margin:0 7px 5px 0; flex-direction: row;justify-content:space-between}
section article ul li >img {width:157px;cursor: pointer;}
section nav { margin-top: 20px;}
section nav a{padding: 4px 14px;float: left;border: 1px solid #1F1F1F;margin: 10px 10px 10px 0px;font-size: 14px;}
section nav a:hover{padding: 4px 14px;float: left;border: 1px solid #1F1F1F;margin: 10px 10px 10px 0px;background-color:#1F1F1F;color: #fff;}






.page{font-size:.9em;display:flex;display:-webkit-flex;justify-content:space-between;margin-top:20px}
content{padding:75pt 90px;display:block}
content article{border-bottom:1px solid #f3f3f3;padding:20px 0 40px}
content article h1{text-transform:uppercase;line-height:1;font-weight:600;color:#1f1f1f;margin:0 0 9pt;line-height:28px;letter-spacing:3px}
content article time{font-size:11px;color:#bbb;display:block;margin-bottom:20px}
content article section{line-height:1.9em;letter-spacing:1px;margin-bottom:15px;word-break:break-all;padding:0}
content article section p{margin-bottom:10px;color: #555;}
content article section p img{width:100%;margin:30px 0;border-radius: 4px;}
.share{margin:30px 0 0;display:inline-flex}
.facebook{width:2pc;height:2pc;border-radius:300px;background-color:#3e3e3e;margin-right:5px}
.facebook a{color:#fff;padding:10px 0 10px 12px;font-size:11pt;cursor:pointer}
.facebook a:hover{color:#6e6e6e;padding:10px 0 10px 12px;}
.weibo{width:2pc;height:2pc;border-radius:300px;background-color:#ed6243;margin-right:5px}
.weibo a{color:#fff;padding:9px;cursor:pointer}
.weibo a:hover{color:#bd4226}
.linkedin{width:2pc;height:2pc;border-radius:300px;background-color:#ed6243;margin-right:5px}
.linkedin a{color:#fff;padding:9px;cursor:pointer}
.linkedin a:hover{color:#bd4226}
.twitter{width:2pc;height:2pc;border-radius:300px;background-color:#59c0fd;margin-right:5px}
.twitter a{color:#fff;padding:9px;cursor:pointer}
.twitter a:hover{color:#4b9ece}
.footer{clear:both;max-width:780px;text-align:center;font-size:9pt;padding:30px 0;margin:0 auto}
.footer a{color:#a6a6a6;width:100%}
.footer a:hover{color:#1f1f1f}
.footer .copyright{margin:0;padding-top:10px;font-size:11px}
.footer .end{padding-top:10px;padding-bottom:10px;color:#000;font-size:1pc;letter-spacing:1px;width:147px;margin:0 auto}
@media screen and (min-width:1000px){main{width:750pt}
.footer .end{width:10pc}

}


@media screen and (max-width:415px){main{margin:0 0 9pt}
section{padding:75pt 35px;font-size: 14px;}
section article p{line-height: 2em;}
header{padding:75pt 25px 0 3pc}
.footer .end{width:10pc}
content{padding:75pt 25px}

header > img{
    position: absolute;
    top: 190px;
    right: 50px;
    border-radius: 5px;
    width: 15%;
}
section article ul {text-align: center;justify-content: center;}
section article ul li >img {width:80px}
}








@media screen and (max-width:900px){main{margin:0 0 9pt}
section{padding:75pt 50px}
header{padding:75pt 45px 0 3pc}
.footer .end{width:10pc}
content{padding:75pt 45px}

header > img{
    position: absolute;
    top: 190px;
    right: 50px;
    border-radius: 5px;
    width: 15%;
}
section article ul {text-align: center;justify-content: center;}
}

::selection{color:#fff;background:#000}
::-moz-selection{color:#fff;background:#000}



.progress-item {
    position: relative;
}

.progress-item .progress {
    height: 4px;
    box-shadow: none;
    border-radius: 5px;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}


.progress-item .progress-bar {
    background-color: #FFC107;
    box-shadow: none;
    text-align: right;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-item .progress-percent {
    font-size: 10px;
    background-color: #313131;
    position: absolute;
    top: -20px;
    padding: 0 8px;
    border-radius: 3px;
}

.progress-item .progress-percent::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 6px solid #313131;
    border-right: 8px solid transparent;
}

